In [26]:
## Dependencies
import pandas as pd
import numpy as np
import nbconvert
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import ks_2samp

In [2]:
## Read file
filename = "C:/Users/justi/OneDrive/Desktop/Analytics/Amazon_Vine_Analysis/vine_table.csv"
vine_table = pd.read_csv(filename)

In [3]:
vine_table.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0,N,Y
1,R3NU7OMZ4HQIEG,2,0,1,N,Y
2,R14QJW3XF8QO1P,5,0,0,N,Y
3,R2HB7AX0394ZGY,5,0,0,N,Y
4,RGKMPDQGSAHR3,5,0,0,N,Y

In [4]:
# First filter for 20 or more votes
vine_df = vine_table[vine_table.total_votes >= 20]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1,27,31,N,Y
161,RX9WC9FTIR1XR,5,25,25,N,Y
256,RGDCOU1KBHMNG,3,29,31,N,Y
267,RVTYWID2TPMMY,2,35,42,N,Y
719,R2CMPZ5VESGRLY,4,27,28,N,Y

In [6]:
# Second filter to find products where helpful votes are at least 50% of total
helpful = vine_df[(vine_df.helpful_votes/vine_df.total_votes) >= 0.5]

In [7]:
# Filter the data into 2 dfs with paid vine users and unpaid users
paid = helpful[helpful.vine == 'Y']
unpaid = helpful[helpful.vine == 'N']

In [8]:
# Create a function that can return the total number of reviews, number of 5-star reviews and percentage of 5-star reviews for users
def calculate_reviews(df, rating=5, helpful='helpful'):
    total = df.review_id.count()
    fives = df.star_rating[df.star_rating == rating].count()
    percent = fives/total * 100
    
    if df.iloc[0,4] == "N":
        payment = "unpaid"
    else:
        payment = "paid vine"
     

    return (f'Out of {total:,} reviews, there were {fives:,} {rating}-star reviews. The percent of {helpful} 5-star reviews by {payment} users was {percent:.2f}%')

In [9]:
# Display the vine users for pet products
calculate_reviews(paid)

'Out of 170 reviews, there were 65 5-star reviews. The percent of helpful 5-star reviews by paid vine users was 38.24%'

In [10]:
# Display the unpaid users for pet products
calculate_reviews(unpaid)

'Out of 37,823 reviews, there were 20,605 5-star reviews. The percent of helpful 5-star reviews by unpaid users was 54.48%'